<% provide(:title, 'adidas Official Website') %>
<div class="center jumbotron">
  <h1>IT’S NEVER TOO LATE</h1>
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
                'http://rubyonrails.org/' %>
  <h2>
    Inspired by our first reflective runner, made for the streets.
  </h2>

  <%= link_to "SHOP MEN", "#", class: "btn btn-lg btn-primary" %>
  <%= link_to "SHOP WOMEN", "#", class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <div class="row">
  <aside class="col-md-6">
    <h1>NITE JOGGER</h1>

  <h2>
    A nite light for young creators on the move.
  </h2>

  <%= link_to "SHOP KIDS", "#", class: "btn btn-lg btn-primary" %>
  </aside>
  <div class="col-md-6">
    <h1>HEROES AMONG US</h1>

  <h2>
    The adidas | Marvel collection, coming to you 4/26.
  </h2>

  <%= link_to "DISCOVER MORE", "#", class: "btn btn-lg btn-primary" %>
  </div>
</div>
</div>

<div class="center jumbotron">
  <h1>PRIMEKNIT</h1>

  <h2>
    Become the movement.
  </h2>

  <%= link_to "SHOP COLLECTION", "#", class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <div class="row">
  <aside class="col-md-6">
    <h1>RUN THE DISTANCE</h1>

  <h2>
    Feel fully supported for long distances in lightweight running tights
  </h2>

  <%= link_to "SHOP TIGHTS", "#", class: "btn btn-lg btn-primary" %>
  </aside>
  <div class="col-md-6">
    <h1>MARQUEE BOOST LOW</h1>

  <h2>
    The most comfortable shoe in the game
  </h2>

  <%= link_to "SHOP NOW", "#", class: "btn btn-lg btn-primary" %>
  </div>
</div>
</div>

<div class="center jumbotron">
  <h1>WHAT'S TRENDING</h1>
</div>

<div class="center jumbotron">
  <h1>RECENTLY VIEWED ITEMS</h1>
</div>
