<tr>
	<td><%= user.id %></td>
	<td><%= gravatar_for user, size: 80 %></td>
	<td><%= link_to user.name, user %></td>
	<td><%= user.email %></td>
	<!-- <td><%= user.password_digest %></td> -->
	<td><%= user.role %></td>
	<td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
	<td>
	<% if current_user.id != user.id %>
	<%= link_to 'Delete', admin_user_path(user),
	        remote: true,
	        method: :delete,
	        data: { confirm: 'You sure?' },
	        class: "user-#{user.id}" %>
	<% end %>
	</td>
</tr>
