<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ADIDAS", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help", help_path %></li>
        <li class="divider">|</li>
        <% if logged_in? %>
          <li><%= link_to "Track Your Order", "#" %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Admin Page", admin_root_path %></li>
          <% end %>
          <li><%= link_to "Welcome back #{current_user.first_name}", current_user %></li>
        <% else %>
          <li><%= link_to "order tracker and returns", signup_path %></li>
          <li class="divider">|</li>
          <li><%= link_to "Newsletter signup", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
